@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --bcolor: #0074F3;
}

body {
    background: #1f253d;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: #F3654F;
    padding: 10px 10px 6px 10px;
    /*height: 75px;*/
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.navbar .Logo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.6em;
}

.navbar .Logo span {
    color: var(--bcolor);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    display: inline-flex;
    align-items: center;
    /*margin: 0.6em;
    padding: 0;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
}

.navbar ul li {
    display: inline-block;
}

.dashboard {
    text-decoration : none;
    color: #333;
    list-style-type: none:
}

.anlysis {
    text-decoration : none;
    color: #333;
    list-style-type: none:
}

.logout {
    /*margin-left: 10em;*/
    color: var(--bcolor);
    font-size: .8em;
    border: 3px solid var(--bcolor);
    border-radius: 5em;
    padding: .8em 2em;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    /*position: fixed;
    left: 80%;*/
}

.logout a {
    text-decoration: none;
    color: #fff;
}

.logout:hover {
    background-color: var(--bcolor);
}

.logout:hover a {
    color: #fff;
}

.im {
    width: 150px;
    height: 70px;
    /*position: fixed;
    left: 92%;
    top: 0;*/
}

#videoElement {
    background-color: #1f253d;
    height: 475px;
    width: 630px;
    border: 10px solid gray;
}
